from typer.testing import CliRunner

from {{project}}.__main__ import app

runner = CliRunner()

def test_main() -> None:
    result = runner.invoke(app, ["--version"])
    assert result.exit_code == 0
    assert "{{project}}" in result.output
